.body-container-dashboard{
        
}

#app{
    height: auto;
    min-height: 100vh;
    padding: 15px;
    background-color: var(--appgray);
    overflow-y: auto;
    overflow-x: hidden;

    transition: width 0.5s, left 0.5s;
}

.app-opened{
    width: calc(100% - 250px);
    left: 250px;
}
.app-closed{
    width: 100%;
    left: 0px;
}

/*******************/

.main-title{
    font-family: 'Quicksand-Medium';
    font-size: 1.2rem;
    color: var(--traing);
    margin-bottom: 15px;
}

.app-container{
    height: auto;
    border-radius: 4px;
    border: var(--cleargray) solid 1px;
    background-color: var(--blanco);
    padding: 22px;
}

.botones-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.botones-container-row{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: auto;
}
 
