:root{
    --traing: #404E67;
    --verde: #16A33D;
    --azul: #204595;
    --azulclaro: #2BA2DB;
    --morado: #1B76B9;
    --gris: #909090;
    --grisclaro: #B1B1B1;
    --blanco: #FFFFFF;
    --negro: #000000;
    --text: #333333;

    --whiteblue: #DFF9FF;
    --cleargray: #E5E5E5;

    --menugray: #F6F6F7;
    --appgray: #F4F6F9;
}

html,body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

div{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    font-weight: normal;
    line-height: normal;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
a{
    font-weight: normal;
    line-height: normal;
    color: inherit;
}

button{
    outline: none;
    outline-width: 0;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}
input{
    outline: none;
    outline-width: 0;
}

.main-container{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-container{
    flex: 1;
    height: auto;
}